* {
  margin: 0;
  padding: 0;
  border: 0;

  /* background: transparent; */
}

.board {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
  margin: auto;
  width: 385px;
  background-color: wheat;
  margin-top: 20px;
}

.tile {
  width: 25px;
  height: 25px;
  padding: 5px;
  border: 4px outset lightgray;
  text-align: center;
  /* border-style: inset; */
}

.explored {
  border-style: inset;
}

.modal-screen {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(0,0,0,.6);
}

.modal-content {
  z-index: 1000;
  width: 400px;
  height: 300px;
  margin: 100px auto;
  background: white;
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-content p {
  text-align: center;
  margin: 20px;
  font-size: 50px;

}

.modal-content button {
  width: 150px;
  border-radius: 5px;
  padding: 10px 30px;
  background-color: lightgray;;
  border: 1px solid gray;
}