<nav class="masthead">
  <nav class="language-nav">
    <ul>
      <li><a href="#">CSS</a></li>
      <li><a href="#">HTML</a></li>
      <li><a href="#">javascript</a></li>
      <li><a href="#">ruby</a></li>
    </ul>
  </nav>

  <img src="assets/AA_Times_Logo.png" class="logo" alt="AA Times">
  
  <nav class="masthead-links">
    <ul>
      <li><time>Tuesday, October 18, 2016</time></li>
      <li>
        <a href="#"><i class="far fa-newspaper"> Today's Paper</i></a>
      </li>
      <li>
        <a href="#"><i class="fas fa-video"> Video</i></a>
      </li>
      <li><button>77°F</button></li>
      <li><button>AAO<strong>+100%</strong></button></li>
    </ul>
  </nav>
</nav>  








