<h1><%= @user.username %>'s Profile</h1>

<% unless @user.subs.empty? %>
  <p>Moderator of:</p>
  <ul>
    <% @user.subs.each do |sub| %>
      <li><%= link_to "#{sub.title}", sub_url(sub.id) %></li>
    <% end %>
  </ul>
<% end %>

<% if @user.posts.empty? %>
  <p>No posts... yet!</p>
<% else %>
  <ul>
    <% @user.posts_in_subs.each do |pair| %>
      <% post, sub = pair[0], pair[1] %>
      <li>
        <%= link_to "#{post.title}", post_url(post.id) %> 
        --
        <small><%= link_to "#{sub.title}", sub_url(sub.id) %></small>
      </li>
    <% end %>    
  </ul>
<% end %>





