<form class="tweet-compose">   
  <h2>New Tweet!</h2>
  <textarea name="tweet[content]" placeholder="Write a tweet!"></textarea>
  
  <div class="tweet-bottom">
    <div class="tweet-left">
      <p>Characters left: <strong class="chars-left">140</strong> </p>         
      <label>
        Mention
        <select name="tweet[mentioned_user_ids][]">
          <option></option>
          <% User.all.each do |user| %>
            <option value="<%= user.id %>"><%= user.username %></option>
          <% end %>
        </select>
      </label>
    </div>  
    <div class="tweet-right">
      <input type="Submit" value="Post Tweet!">
    </div>
  </div>
</form>
